* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

html,
body {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
header {
  height: 200px;
  padding: 25px 0;
}
.logo {
  width: 50%;
}

.menu {
  padding-top: 30px;
  width: 50%;
  text-align: right;
}
.menu a {
  text-decoration: none;
  color: #000;
  margin-left: 25px;
  font-size: 14px;
  font-weight: bold;
}

section.about {
  height: calc(100% - 200px);
  position: relative;
}

.extras {
  position: absolute;
  bottom: -450px;
  right: -450px;
  width: 1100px;
  height: 1100px;
  background-color: #017143;
  border-radius: 50%;
}

.social-media {
  position: absolute;
  left: 600px;
  top: 250px;
}

.social-media img {
  display: block;
  width: 25px;
  margin: 20px 0;
}

.social-media img:first-child {
  width: 15px;
}

.about-text {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #000;
  max-width: 500px;
}
.about-text p {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin: 20px 0;
}

.about-text button {
  background-color: #017143;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
}

.extra-content {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.extra-content img {
  width: 80px;
  max-width: 600px;
  transform: translateX(-50%);
}
.extra-content img:last-child{
    margin-bottom: 5px;
}

.extra-content img:hover {
    cursor: pointer;
    transform: translateX(-50%) scale(1.1);
}
